body {
	background-color: black;
}

#animated-gradient-text {
	background: linear-gradient(25deg, red, blue);
	background-size: 300% 300%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	
	/*Animation*/
	animation: gradient-animation 5s ease infinite;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.navbar {
	position: fixed;
	background-color: #15141b;
	top: 0;
	left: 0;
	bottom: 97%;
	width: 100%;
	border: 10px;
	display: inline-flex;
	align-items: center;
}

.navbar-button {
	
	background-color: #15141b;
	padding: .6%;
}

.navbar-button:hover {
	background-color: white;
	color: black;
}

.navbar-button a:hover {
	color: black;
}

.navbar-button a {
	font-family: sans-serif;
	text-decoration: none;
	color: white;
}

.main-panel {
	margin-top: 50px;
}

.main-panel h1 {
	text-align: left;
	color: white;
	font-family: sans-serif;
}

.main-panel u {
	font-size: 2.5em;
}

.projects-panel {
	background-color: white;
	font-family: sans-serif;
}

.projects-panel-item {
	background-color: white;
	font-family: sans-serif;
}

.projects-panel-item #projects-panel-item-description {
	float: right;
	font-size: 1.25em;
	text-align: right;
} 

.projects-panel-item #projects-panel-item-image {
	width: 25%;
	height: 25%;
}